.app-content {
  margin-top: 18%;
  text-align: center;
}

.buttons {
  text-align: center;
  display: flex;
  justify-content: center;
}
.buttons button {
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin-left: 20px;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
}